In [2]:
import pandas as pd
import numpy as np

In [3]:
from numpy.random import randn
import random

In [4]:
np.random.seed(101)

In [5]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],[1,2,3,4])

In [6]:
df

          1         2         3         4
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [7]:
df[[1]]

          1
A  2.706850
B  0.651118
C -2.018168
D  0.188695
E  0.190794

In [8]:
type(df[1])

pandas.core.series.Series

In [9]:
df[[1,2]]

          1         2
A  2.706850  0.628133
B  0.651118 -0.319318
C -2.018168  0.740122
D  0.188695 -0.758872
E  0.190794  1.978757

In [10]:
df[3] = df[1]

In [28]:
df

          1         2
A  2.706850  0.628133
B  0.651118 -0.319318
C -2.018168  0.740122
D  0.188695 -0.758872

In [22]:
df.drop(4, axis=1, inplace=True)

In [26]:
df.drop('E', inplace=True)

In [30]:
df.shape

(4, 2)

In [32]:
df.iloc[3]

1    0.188695
2   -0.758872
Name: D, dtype: float64

In [33]:
df.loc['B']

1    0.651118
2   -0.319318
Name: B, dtype: float64

In [34]:
df.loc['B',2]

-0.31931804459303326

In [35]:
df.loc[['A','B'],[1,2]]

          1         2
A  2.706850  0.628133
B  0.651118 -0.319318