In [3]:
# Dataframes
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [4]:
import webbrowser
website='http://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

In [18]:
nfl_cl = pd.read_clipboard()

In [19]:
nfl_cl

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,502,374,6,0.573,1960,882,NFC East
1,2,Green Bay Packers,737,562,37,0.565,1921,"1,336",NFC North
2,3,Chicago Bears,749,579,42,0.562,1920,"1,370",NFC North
3,4,Miami Dolphins,445,351,4,0.559,1966,800,AFC East
4,5,New England Patriots[b],489,386,9,0.558,1960,884,AFC East

In [20]:
nfl_cl.columns

Index(['Rank', 'Team', 'Won', 'Lost', 'Tied', 'Pct.', 'First NFL Season',
       'Total Games', 'Division'],
      dtype='object')

In [25]:
nfl_cl['First NFL Season']

0    1960
1    1921
2    1920
3    1966
4    1960
Name: First NFL Season, dtype: int64

In [26]:
DataFrame(nfl_cl,columns=['Rank','Team','Total Games'])

   Rank                     Team Total Games
0     1           Dallas Cowboys         882
1     2        Green Bay Packers       1,336
2     3            Chicago Bears       1,370
3     4           Miami Dolphins         800
4     5  New England Patriots[b]         884

In [32]:
# DataFrame(nfl_cl,)
nfl_cl.head()

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,502,374,6,0.573,1960,882,NFC East
1,2,Green Bay Packers,737,562,37,0.565,1921,"1,336",NFC North
2,3,Chicago Bears,749,579,42,0.562,1920,"1,370",NFC North
3,4,Miami Dolphins,445,351,4,0.559,1966,800,AFC East
4,5,New England Patriots[b],489,386,9,0.558,1960,884,AFC East

In [34]:
nfl_cl.iloc[3]

Rank                             4
Team                Miami Dolphins
Won                            445
Lost                           351
Tied                             4
Pct.                         0.559
First NFL Season              1966
Total Games                    800
Division                  AFC East
Name: 3, dtype: object

In [37]:
nfl_cl['Stadium'] = np.arange(5)

In [38]:
nfl_cl

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Dallas Cowboys,502,374,6,0.573,1960,882,NFC East,0
1,2,Green Bay Packers,737,562,37,0.565,1921,"1,336",NFC North,1
2,3,Chicago Bears,749,579,42,0.562,1920,"1,370",NFC North,2
3,4,Miami Dolphins,445,351,4,0.559,1966,800,AFC East,3
4,5,New England Patriots[b],489,386,9,0.558,1960,884,AFC East,4

In [45]:
stadiums = Series(["Levi's stadium","MT&T Stadium"],index=[4,0])

In [46]:
stadiums

4    Levi's stadium
0      MT&T Stadium
dtype: object

In [47]:
nfl_cl['Stadium'] = stadiums

In [48]:
nfl_cl

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Dallas Cowboys,502,374,6,0.573,1960,882,NFC East,MT&T Stadium
1,2,Green Bay Packers,737,562,37,0.565,1921,"1,336",NFC North,NaN
2,3,Chicago Bears,749,579,42,0.562,1920,"1,370",NFC North,NaN
3,4,Miami Dolphins,445,351,4,0.559,1966,800,AFC East,NaN
4,5,New England Patriots[b],489,386,9,0.558,1960,884,AFC East,Levi's stadium

In [49]:
del nfl_cl['Stadium']

In [50]:
nfl_cl

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,502,374,6,0.573,1960,882,NFC East
1,2,Green Bay Packers,737,562,37,0.565,1921,"1,336",NFC North
2,3,Chicago Bears,749,579,42,0.562,1920,"1,370",NFC North
3,4,Miami Dolphins,445,351,4,0.559,1966,800,AFC East
4,5,New England Patriots[b],489,386,9,0.558,1960,884,AFC East

In [51]:
data = {'City':['NYC','LA','SF'],'Population (in millions)':[8.3,3.8,6.3]}

In [52]:
city_df = DataFrame(data)

In [53]:
city_df

  City  Population (in millions)
0  NYC                       8.3
1   LA                       3.8
2   SF                       6.3