In [1]:
# Imports
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

# Index Objects

In [2]:
# Creating a series
my_ser = Series([1,2,3,4],index=['A','B','C','D'])
my_ser

A    1
B    2
C    3
D    4
dtype: int64

In [3]:
my_index = my_ser.index

In [4]:
my_index

Index(['A', 'B', 'C', 'D'], dtype='object')

In [6]:
my_index[2]

'C'

In [7]:
my_index[2:]

Index(['C', 'D'], dtype='object')

In [8]:
my_index[0]

'A'

In [9]:
my_index[0] = 'Z'

TypeError: Index does not support mutable operations

## Note:
Indexes cannot be changed so that is why that error occured
***
# Reindexing

All imports are at top
There will be one extra import here

In [10]:
from numpy.random import randn

In [11]:
ser1 = Series([1,2,3,4],['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [12]:
# Reindexing
ser2 = ser1.reindex(['A','B','C','D','E','F'])
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [14]:
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [17]:
ser3 = Series(['USA','Mexico','Canada'],index=[0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [19]:
ranger = range(15)

In [20]:
ranger

range(0, 15)

In [21]:
ser3.reindex(ranger,method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [22]:
dframe = DataFrame(randn(25).reshape((5,5)),
                   index=['A','B','D','E','F'],
                   columns=['Col1','Col2','Col3','Col4','Col5'])
dframe

       Col1      Col2      Col3      Col4      Col5
A -1.987028 -0.362051 -1.652231 -1.112871  0.255662
B  0.300800  0.741674  0.731371  0.051314  0.237782
D  0.216874 -1.528893 -1.022493 -0.018193  0.255074
E -1.619191  0.652915  1.183649  0.997839  0.303257
F -0.519088 -0.131599  1.444883 -0.361080  0.689481

In [25]:
dframe[['Col1']]

       Col1
A -1.987028
B  0.300800
D  0.216874
E -1.619191
F -0.519088

In [36]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])

In [37]:
dframe2

       Col1      Col2      Col3      Col4      Col5
A -1.987028 -0.362051 -1.652231 -1.112871  0.255662
B  0.300800  0.741674  0.731371  0.051314  0.237782
C       NaN       NaN       NaN       NaN       NaN
D  0.216874 -1.528893 -1.022493 -0.018193  0.255074
E -1.619191  0.652915  1.183649  0.997839  0.303257
F -0.519088 -0.131599  1.444883 -0.361080  0.689481

In [35]:
dframe2.iloc[[2]]

   Col1  Col2  Col3  Col4  Col5
C   NaN   NaN   NaN   NaN   NaN

In [40]:
new_col = ['Col1','Col2','Col3','Col4','Col5','Col6']

In [41]:
dframe2.reindex(columns=new_col)

       Col1      Col2      Col3      Col4      Col5  Col6
A -1.987028 -0.362051 -1.652231 -1.112871  0.255662   NaN
B  0.300800  0.741674  0.731371  0.051314  0.237782   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.216874 -1.528893 -1.022493 -0.018193  0.255074   NaN
E -1.619191  0.652915  1.183649  0.997839  0.303257   NaN
F -0.519088 -0.131599  1.444883 -0.361080  0.689481   NaN

Reindexed with rows and columns in DataFrames and Series

In [42]:
dframe

       Col1      Col2      Col3      Col4      Col5
A -1.987028 -0.362051 -1.652231 -1.112871  0.255662
B  0.300800  0.741674  0.731371  0.051314  0.237782
D  0.216874 -1.528893 -1.022493 -0.018193  0.255074
E -1.619191  0.652915  1.183649  0.997839  0.303257
F -0.519088 -0.131599  1.444883 -0.361080  0.689481

Compare the two DataFrames above

In [43]:
dframe.ix[['A','B','C','D','E','F'],new_col]

C:\Users\sharan\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

       Col1      Col2      Col3      Col4      Col5  Col6
A -1.987028 -0.362051 -1.652231 -1.112871  0.255662   NaN
B  0.300800  0.741674  0.731371  0.051314  0.237782   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.216874 -1.528893 -1.022493 -0.018193  0.255074   NaN
E -1.619191  0.652915  1.183649  0.997839  0.303257   NaN
F -0.519088 -0.131599  1.444883 -0.361080  0.689481   NaN

Faster way to reindex

.ix is deprecated so don't use this method