In [1]:
from math import *

In [48]:
def jaccard_similarity(x,y):  
    intersection_cardinality = len(set.intersection(*[set(x), set(y)]))
    union_cardinality = len(set.union(*[set(x), set(y)]))
    return intersection_cardinality/float(union_cardinality)

In [3]:
from sklearn.metrics.cluster import normalized_mutual_info_score
from sklearn.metrics import jaccard_similarity_score

In [4]:
print(jaccard_similarity([1,2,3,4],[7,3,5,3]))
print(jaccard_similarity_score([1,2,3,4],[7,3,5,3]))

0.16666666666666666
0.0

In [5]:
cs1 = open("clustering_1.txt").readlines()
cs2 = open("clustering_2.txt").readlines()
cs3 = open("clustering_3.txt").readlines()
cs4 = open("clustering_4.txt").readlines()
cs5 = open("clustering_5.txt").readlines()
part = open("partitions.txt").readlines()

In [6]:
c11 = []
c21 = []
for i in range(0,len(cs1)):
    cs1[i] = cs1[i].replace("\n","")
    l = cs1[i].split(" ")
    c21.append(int(l[1]))
partc = []
for i in range(0,len(part)):
    part[i] = part[i].replace("\n","")
    l = part[i].split(" ")
    partc.append(int(l[1]))

In [7]:
cs1jc = jaccard_similarity_score(c21,partc)
cs1jc

0.97666666666666668

In [8]:
c12 = []
c22 = []
for i in range(0,len(cs2)):
    cs2[i] = cs2[i].replace("\n","")
    l2 = cs2[i].split(" ")
    c12.append(int(l2[0]))
    c22.append(int(l2[1]))

In [9]:
cs2jc = jaccard_similarity_score(c22,partc)

In [10]:
c13 = []
c23 = []
for i in range(0,len(cs3)):
    cs3[i] = cs3[i].replace("\n","")
    l3 = cs3[i].split(" ")
    c13.append(int(l3[0]))
    c23.append(int(l3[1]))

In [11]:
cs3jc = jaccard_similarity_score(c23,partc)

In [12]:
c14 = []
c24 = []
for i in range(0,len(cs4)):
    cs4[i] = cs4[i].replace("\n","")
    l4 = cs4[i].split(" ")
    c14.append(int(l4[0]))
    c24.append(int(l4[1]))

In [32]:
cs4jc = jaccard_similarity_score(c24,partc)

In [33]:
c15 = []
c25 = []
for i in range(0,len(cs5)):
    cs5[i] = cs5[i].replace("\n","")
    l5 = cs5[i].split(" ")
    c15.append(int(l5[0]))
    c25.append(int(l5[1]))

In [34]:
cs5jc = jaccard_similarity_score(c25,partc)
# jaccard_similarity_score(y_true, y_pred)

In [35]:
[cs1jc,cs2jc,cs3jc,cs4jc,cs5jc]

[0.97666666666666668,
 0.89666666666666661,
 0.78333333333333333,
 0.91000000000000003,
 0.66666666666666663]

In [36]:
# normalized_mutual_info_score(c11,c12)

In [37]:
[normalized_mutual_info_score(partc,c21),normalized_mutual_info_score(partc,c22),normalized_mutual_info_score(partc,c23),normalized_mutual_info_score(partc,c24),normalized_mutual_info_score(partc,c25)]

[0.88962476658005873,
 0.64563681134772166,
 0.39154374638169198,
 0.76778916069026093,
 0.76117025972228858]

In [51]:
jaccard_similarity([50,25,25],[25,40,35])

0.25

In [47]:
from pandas import DataFramerame,Series

In [52]:
partCl = list(set(partc))

[0, 1, 2]

In [57]:
dc = {0:[2,5,0,2],1:[0,6,0,0],2:[5,0,3,0]}

In [58]:
df = DataFrame(dc)
df

   0  1  2
0  2  0  5
1  5  6  0
2  0  0  3
3  2  0  0

In [70]:
list(df.iloc[2])

[0, 0, 3]

In [71]:
list(df[1])

[0, 6, 0, 0]